.app-main {
    @include display (flex, column, center, center);

    width: 100%;
    height: 700px;
    
    background: $main-background;

    &__headline {
        width: 669px;
    
        @include headline-font($second-font, 700, 48px, 64px,  center);
        
        
        color: $headline-color;

        @include break(768px) {
            text-align: left;
            width: 355px;
        }
    }

    &__info {
        width: 426px;
        height: 57px;
        margin-top: 40px;
        
        @include headline-font($main-font, 400, 24px, 32px,  center);
        
        color: $main-info-color;

        @include break (768px) {
            text-align: left;
            width: 453px;
            margin-top: 30px;
        }
    }

    .paragraphs {
        @include display (flex, column, center, center);
        gap: 20px;

        &__p {
            margin-top: 48px;
            width: 983px;

            @include headline-font($main-font, 400, 16px, 22px,  center);
            
            color: $black;

            @include break(768px) {
                width: auto;
                text-align: left;
                padding: 24px 0px;
            }
        }

        @include break(768px) {
            flex-direction: column;
            gap: 0px;
        }
    }

    &__button {
        margin-top: 40px;
        width: 120px;
    
        padding: 7px 18px;
        font-family: $main-font;
    
        text-transform: uppercase;
        color: $white;
    
        background: $main-color;
        border-radius: 18px;
        border: 1px solid $main-color;
    
        transition: transform 1s;
        transform-origin: left;

        &:hover {
            transform: skewY(10deg);
        }
    }
    
    @include break(768px) {
        width: auto;
        align-items: flex-start;
        padding: 135px 27px 145px 27px;
    }
 }

.app-article { 
    @include display (flex, column, center, center);

    width: 100%;
    height: 666px;

    background: rgba(140, 79, 42, 0.3);
    background-image: url(assets/desk_back2.svg);
    background-size: 100%;
    background-repeat: no-repeat;

    &__headline {
        width: 480px;
        height: 117px;
    
        @include headline-font($second-font, 700, 48px, 64px, center);
    
        color: $white;
    }

    &__button {
        @include display (flex, row, center, center);
        width: 150px;
        height: 150px;
        margin-top: 53px;
    
        background: $light-blue;
        border-radius: 100%;
        border: $light-blue;
        transition: all 1s;

        &:hover {
            transform: scale(0.9);
            background-color: $white;
        }

        &--icon {
            content: "\25B6";

            color: $white;
            font-size: 70px;
            
            &:hover {
                color: $light-blue;
            }
        }
    }

    &__paragraph {
        width: 390px;
        height: 102px;
        margin-top: 70px;
    
        @include headline-font($main-font, 400, 24px, 32px, center);
    
        color: $white;
    }

    @include break (768px) {
        background-image: url(assets/Learn-more__image.svg);
        height: 637px;
    }
}