.app-footer {
    width: 100%;
    height: fit-content;

    background: #464547;

    @include headline-font($main-font, 400, 16px, 19px,  left);

    color: rgba(255, 255, 255, 0.4);

    .footer-container {
        @include display (flex, row, space-between, flex-end);
        padding: 37px 148px 38px 153px;

        @include break (768px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 58px 0 75px 0;
        }
    }  
    
    .logo-and-address {
        @include display (flex, row,  flex-start, flex-start);
        gap: 81px;

        &__logo {
            display: flex;
            align-items: center;
            gap: 16px;

            &--title {
                width: 92px;
    
                font-size: 18px;
                line-height: 16px;
            
                letter-spacing: 0.2em;
                text-transform: uppercase;
            
                color: #FFFFFF;
            }
        }

        &__address {
            &--text {
                display: block;
                font-style: italic;

                @include break (768px) {
                    font-style: normal;
                }
            }

            @include break (768px) {
                text-align: center;
            }

            &--email {
                display: block;
                width: 142px;
                height: 22px;
                margin-top: 16px;

                text-decoration: none;
                color: rgba(255, 255, 255, 0.4);
            }
        }

        @include break (768px) {
            flex-direction: column;
            gap: 31px;
        }
    }

    .copyright {
        width: 243px;
        height: 20px;

        @include break (768px) {
            margin-top: 19px;
        }
    }
}