* {
    margin: 0;
    padding: 0;
}

.header-container {
    background-image: url(assets/desk_back1.svg);
    background-size: 100%;
    z-index: -1;

    width: 100%;
    height: 800px;

    .app-header {
        @include display (flex, row, normal, space-between);

        padding: 45px 397px 0 267px;
        
        font-family: $main-font;

        &__logo {
            @include headline-font($main-font, 600, 20px, 16px,  left);

            letter-spacing: 0.1em;
            text-transform: uppercase;

            text-decoration: none;

            color: #FFFFFF;
        }

        &__menu {
            display: flex;
            gap: 32px;
            list-style-type: none;

            &--link {
                padding: 5px 0;

                @include headline-font($main-font, 400, 14px, 16px,  left);
            
                letter-spacing: 0.2em;
                text-transform: uppercase;
                text-decoration: none;
            
                color: #FFFFFF;

                transition: all 0.5s;

                &:hover {
                    border-bottom: 2px solid white;
                }
            }

            @include break(768px) {
                display: none;
            }
        }

        .responsive-menu {
            @include display (none, column, center, normal);
            gap: 6.62px;
        
            background-color: transparent;
            border: none;

            &__line {
                display: block;
                width: 25px;
            
                border-top: 3px solid white;
            }

            @include break(768px) {
                display: flex;
            }
        }

        @include break(768px) {
            padding: 41px 27px 0;
        }
    }
    @include break(768px) {
        background-image: url(assets/responsive-desk-back.svg);
        height: 816px;
    }
}


.app-section {
    @include display (flex, column, center, center);

    height: 700px;

    color: white;

    &__bigLogo {
        width: 63px;
        transition: all 1s;

        &:hover {
            transform: rotateY(180deg) scale(1.5);
        }
    }

    &__headline {
        margin-top: 13px;

        @include headline-font($second-font, 700, 48px, 64px,  center);

        width: 386px;
        height: 118px;
    }

    &__info {
        width: 426px;
        height: 56px;
    
        margin-top: 42px;
        
        @include headline-font($main-font, 400, 24px, 32px,  center);
        
        color: rgba(255, 255, 255, 0.7);
    }
}