@mixin headline-font ($family, $weight, $size, $height, $align) {
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;

    text-align: $align;
}

@mixin display ($display, $direction, $items, $content) {
    display: $display;
    flex-direction: $direction;
    align-items: $items;
    justify-content: $content;
}

@mixin break ($length) {
    @media (max-width: $length) {
        @content;
    }
}