$main-font: 'Source Sans Pro';
$second-font: 'Oswald';

$main-color: #55C2D8;
$main-background: #EEEEEE;
$headline-color: #464547;
$main-info-color: #666666;
$black: #000000;
$white: white;
$light-blue: #39C2D7;