@charset "UTF-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.app-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background: #EEEEEE;
}
.app-main__headline {
  width: 669px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: #464547;
}
@media (max-width: 768px) {
  .app-main__headline {
    text-align: left;
    width: 355px;
  }
}
.app-main__info {
  width: 426px;
  height: 57px;
  margin-top: 40px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #666666;
}
@media (max-width: 768px) {
  .app-main__info {
    text-align: left;
    width: 453px;
    margin-top: 30px;
  }
}
.app-main .paragraphs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.app-main .paragraphs__p {
  margin-top: 48px;
  width: 983px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}
@media (max-width: 768px) {
  .app-main .paragraphs__p {
    width: auto;
    text-align: left;
    padding: 24px 0px;
  }
}
@media (max-width: 768px) {
  .app-main .paragraphs {
    flex-direction: column;
    gap: 0px;
  }
}
.app-main__button {
  margin-top: 40px;
  width: 120px;
  padding: 7px 18px;
  font-family: "Source Sans Pro";
  text-transform: uppercase;
  color: white;
  background: #55C2D8;
  border-radius: 18px;
  border: 1px solid #55C2D8;
  transition: transform 1s;
  transform-origin: left;
}
.app-main__button:hover {
  transform: skewY(10deg);
}
@media (max-width: 768px) {
  .app-main {
    width: auto;
    align-items: flex-start;
    padding: 135px 27px 145px 27px;
  }
}

.app-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 666px;
  background: rgba(140, 79, 42, 0.3);
  background-image: url(assets/desk_back2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.app-article__headline {
  width: 480px;
  height: 117px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  color: white;
}
.app-article__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  margin-top: 53px;
  background: #39C2D7;
  border-radius: 100%;
  border: #39C2D7;
  transition: all 1s;
}
.app-article__button:hover {
  transform: scale(0.9);
  background-color: white;
}
.app-article__button--icon {
  content: "▶";
  color: white;
  font-size: 70px;
}
.app-article__button--icon:hover {
  color: #39C2D7;
}
.app-article__paragraph {
  width: 390px;
  height: 102px;
  margin-top: 70px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: white;
}
@media (max-width: 768px) {
  .app-article {
    background-image: url(assets/Learn-more__image.svg);
    height: 637px;
  }
}

* {
  margin: 0;
  padding: 0;
}

.header-container {
  background-image: url(assets/desk_back1.svg);
  background-size: 100%;
  z-index: -1;
  width: 100%;
  height: 800px;
}
.header-container .app-header {
  display: flex;
  flex-direction: row;
  align-items: normal;
  justify-content: space-between;
  padding: 45px 397px 0 267px;
  font-family: "Source Sans Pro";
}
.header-container .app-header__logo {
  font-family: "Source Sans Pro";
  font-weight: 600;
  font-size: 20px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.header-container .app-header__menu {
  display: flex;
  gap: 32px;
  list-style-type: none;
}
.header-container .app-header__menu--link {
  padding: 5px 0;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  transition: all 0.5s;
}
.header-container .app-header__menu--link:hover {
  border-bottom: 2px solid white;
}
@media (max-width: 768px) {
  .header-container .app-header__menu {
    display: none;
  }
}
.header-container .app-header .responsive-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: normal;
  gap: 6.62px;
  background-color: transparent;
  border: none;
}
.header-container .app-header .responsive-menu__line {
  display: block;
  width: 25px;
  border-top: 3px solid white;
}
@media (max-width: 768px) {
  .header-container .app-header .responsive-menu {
    display: flex;
  }
}
@media (max-width: 768px) {
  .header-container .app-header {
    padding: 41px 27px 0;
  }
}
@media (max-width: 768px) {
  .header-container {
    background-image: url(assets/responsive-desk-back.svg);
    height: 816px;
  }
}

.app-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 700px;
  color: white;
}
.app-section__bigLogo {
  width: 63px;
  transition: all 1s;
}
.app-section__bigLogo:hover {
  transform: rotateY(180deg) scale(1.5);
}
.app-section__headline {
  margin-top: 13px;
  font-family: "Oswald";
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  text-align: center;
  width: 386px;
  height: 118px;
}
.app-section__info {
  width: 426px;
  height: 56px;
  margin-top: 42px;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.app-footer {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #464547;
  font-family: "Source Sans Pro";
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: left;
  color: rgba(255, 255, 255, 0.4);
}
.app-footer .footer-container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: flex-end;
  padding: 37px 148px 38px 153px;
}
@media (max-width: 768px) {
  .app-footer .footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 58px 0 75px 0;
  }
}
.app-footer .logo-and-address {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 81px;
}
.app-footer .logo-and-address__logo {
  display: flex;
  align-items: center;
  gap: 16px;
}
.app-footer .logo-and-address__logo--title {
  width: 92px;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.app-footer .logo-and-address__address--text {
  display: block;
  font-style: italic;
}
@media (max-width: 768px) {
  .app-footer .logo-and-address__address--text {
    font-style: normal;
  }
}
@media (max-width: 768px) {
  .app-footer .logo-and-address__address {
    text-align: center;
  }
}
.app-footer .logo-and-address__address--email {
  display: block;
  width: 142px;
  height: 22px;
  margin-top: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}
@media (max-width: 768px) {
  .app-footer .logo-and-address {
    flex-direction: column;
    gap: 31px;
  }
}
.app-footer .copyright {
  width: 243px;
  height: 20px;
}
@media (max-width: 768px) {
  .app-footer .copyright {
    margin-top: 19px;
  }
}/*# sourceMappingURL=style.css.map */